<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque quasi,
    sed possimus a maiores, minus id exercitationem voluptatum soluta facere
    corporis natus corrupti adipisci aliquid quaerat! Incidunt officia minus
    eos.
  </div>
</div>
